.verification-panel-div {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.operation-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}