.board-div {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.main-board-div {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.top-side-div {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(245, 218, 129);
}

.bottom-side-div {
    width: 100%;
    height: 95%;
    display: flex;
}

.left-side-div {
    /* width: 20%; */
    height: 100%;
    overflow-y: auto;
}

.mid-side-div {
    /* width: 60%; */
    height: 100%;
}

.right-side-div {
    /* width: 20%; */
    height: 100%;
}

.annotation-top-side-div {
    width: 100%;
    height: 85%;
}

.annotation-bottom-side-div {
    width: 100%;
    height: 15%;
}