.collage-panel-div {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: white;
}

.state-info-div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}