.state-node {
  height: 50px;
  width: 150px;
  border: 2px solid #6d8ee0;
  padding: 10px;
  border-radius: 10px;
  background: white;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}